dist/news.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>Кофе</title>
    <style>
      .preloader {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999999;
      }
      .preloader__text {
          font-weight: 700;
        color: #b9b2aa;
        font-size: 36px;
        animation: preloader 3s infinite;
      }
      @media (min-width: 768px) {
        .preloader__text {
          font-size: 70px;
        }
      }
      @media (min-width: 992px) {
        .preloader__text {
          font-size: 100px;
        }
      }
      @-moz-keyframes preloader {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @-webkit-keyframes preloader {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes preloader {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
    </style>
    <link rel="stylesheet" href="styles/magnific-popup.css">
    <link rel="stylesheet" href="styles/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/modernizr.js"></script>
  </head>
  <body class="page-news" style="overflow: hidden"><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="preloader">
      <div class="preloader__text">DAMN, HOT!</div>
    </div><a class="scroll-up-button" href="#"></a>
    <div class="minicart" id="minicart">
      <div class="minicart__wrapper">
        <div class="minicart__header">
          <div class="minicart__title">
            <h3>Корзина</h3>
          </div>
          <div class="minicart__count">3 товара</div>
        </div>
        <div class="minicart__content">
          <div class="minicart__item"><a class="minicart__img" href="#"><img src="images/minicart/1.jpg" alt=""></a>
            <div class="minicart__info"><a class="minicart__name" href="#">Sidamo Dintu</a><span class="minicart__country">Эфиопия</span>
              <input class="minicart__price" value="650р." type="text" disabled="disabled">
              <div class="minicart__modific">
                <div class="minicart__select">
                  <select>
                    <option value="В зернах">В зернах</option>
                    <option value="В порошке">В порошке</option>
                  </select>
                </div>
                <div class="minicart__select">
                  <select>
                    <option value="250 гр.">250 гр.</option>
                    <option value="500 гр.">500 гр.</option>
                    <option value="1000 гр.">1000 гр.</option>
                  </select>
                </div>
              </div>
            </div><a class="minicart__delete" href="#"></a>
          </div>
          <div class="minicart__item"><a class="minicart__img" href="#"><img src="images/minicart/1.jpg" alt=""></a>
            <div class="minicart__info"><a class="minicart__name" href="#">Sidamo Dintu</a><span class="minicart__country">Эфиопия</span>
              <input class="minicart__price" value="650р." type="text" disabled="disabled">
              <div class="minicart__modific">
                <div class="minicart__select">
                  <select>
                    <option value="В зернах">В зернах</option>
                    <option value="В порошке">В порошке</option>
                  </select>
                </div>
                <div class="minicart__select">
                  <select>
                    <option value="250 гр.">250 гр.</option>
                    <option value="500 гр.">500 гр.</option>
                    <option value="1000 гр.">1000 гр.</option>
                  </select>
                </div>
              </div>
            </div><a class="minicart__delete" href="#"></a>
          </div>
          <div class="minicart__item"><a class="minicart__img" href="#"><img src="images/minicart/1.jpg" alt=""></a>
            <div class="minicart__info"><a class="minicart__name" href="#">Sidamo Dintu</a><span class="minicart__country">Эфиопия</span>
              <input class="minicart__price" value="650р." type="text" disabled="disabled">
              <div class="minicart__modific">
                <div class="minicart__select">
                  <select>
                    <option value="В зернах">В зернах</option>
                    <option value="В порошке">В порошке</option>
                  </select>
                </div>
                <div class="minicart__select">
                  <select>
                    <option value="250 гр.">250 гр.</option>
                    <option value="500 гр.">500 гр.</option>
                    <option value="1000 гр.">1000 гр.</option>
                  </select>
                </div>
              </div>
            </div><a class="minicart__delete" href="#"></a>
          </div>
          <div class="minicart__item"><a class="minicart__img" href="#"><img src="images/minicart/1.jpg" alt=""></a>
            <div class="minicart__info"><a class="minicart__name" href="#">Sidamo Dintu</a><span class="minicart__country">Эфиопия</span>
              <input class="minicart__price" value="650р." type="text" disabled="disabled">
              <div class="minicart__modific">
                <div class="minicart__select">
                  <select>
                    <option value="В зернах">В зернах</option>
                    <option value="В порошке">В порошке</option>
                  </select>
                </div>
                <div class="minicart__select">
                  <select>
                    <option value="250 гр.">250 гр.</option>
                    <option value="500 гр.">500 гр.</option>
                    <option value="1000 гр.">1000 гр.</option>
                  </select>
                </div>
              </div>
            </div><a class="minicart__delete" href="#"></a>
          </div>
          <div class="minicart__item"><a class="minicart__img" href="#"><img src="images/minicart/1.jpg" alt=""></a>
            <div class="minicart__info"><a class="minicart__name" href="#">Sidamo Dintu</a><span class="minicart__country">Эфиопия</span>
              <input class="minicart__price" value="650р." type="text" disabled="disabled">
              <div class="minicart__modific">
                <div class="minicart__select">
                  <select>
                    <option value="В зернах">В зернах</option>
                    <option value="В порошке">В порошке</option>
                  </select>
                </div>
                <div class="minicart__select">
                  <select>
                    <option value="250 гр.">250 гр.</option>
                    <option value="500 гр.">500 гр.</option>
                    <option value="1000 гр.">1000 гр.</option>
                  </select>
                </div>
              </div>
            </div><a class="minicart__delete" href="#"></a>
          </div>
        </div>
        <div class="minicart__footer">
          <div class="minicart__amount"><span>Итоговая сумма:</span><span>3 500 руб.</span></div><a class="minicart__btn" href="#">Оформить заказ</a>
        </div><a class="minicart__close" id="minicartClose" href="#"></a>
      </div>
    </div>
    <div class="page -loading" id="pageScrollBar">
      <div class="page__content">
        <header class="header">
          <div class="container">
            <div class="header__wrapper">
              <div class="header__menu"><a class="header__toggle" href="#"><span></span></a>
                <ul class="menu menu--rigth">
                  <li class="menu__item"><a class="menu__link menu__link--submenu" href="#">Продукция</a>
                    <div class="menu__submenu">
                      <div class="submenu">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-3 col-lg-2">
                              <ul class="submenu__list">
                                <li class="submenu__item submenu__item--title"><a class="submenu__link" href="#">Кофе</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Эспрессо</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Фильт</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Sample Box</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Арабика</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Смесь арабики и робусты</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Декаф</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">AIR</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3 col-lg-2">
                              <ul class="submenu__list">
                                <li class="submenu__item submenu__item--title"><a class="submenu__link" href="#">Чай</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Черный</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Зеленый</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Красный</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Травяной</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3 col-lg-2">
                              <ul class="submenu__list">
                                <li class="submenu__item submenu__item--title"><a class="submenu__link" href="#">Аксессуары</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Воронка для кофе</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Питчеры</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Темперы и коврики</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Сита</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Бумажные фильтры</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Химия</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3 col-lg-2">
                              <ul class="submenu__list">
                                <li class="submenu__item submenu__item--title"><a class="submenu__link" href="#">Стиль</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Майки</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Футболки</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Кружки</a></li>
                                <li class="submenu__item"><a class="submenu__link" href="#">Наклейки</a></li>
                              </ul>
                            </div>
                            <div class="col-lg-4 d-none d-lg-block"><a class="banner" href="#" target="_blank"><img src="images/banner.png" alt=""></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="menu__item"><a class="menu__link" href="#">Сотрудничество</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Знания</a></li>
                  <li class="menu__item"><a class="menu__link menu__link--submenu" href="#">О нас</a></li>
                </ul>
                <ul class="menu menu--left">
                  <li class="menu__item"><a class="menu__link" href="#">Доставка и оплата</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
                  <li class="menu__sale d-lg-none"><a class="menu__sale_link" href="#" target="_blank">Скидка</a></li>
                </ul>
                <div class="header__logo"><a class="logo" href="#"><img src="images/logo.svg" width="90" height="35" alt=""><img src="images/logo-img-blue.svg" width="63" height="63" alr=""></a></div>
              </div>
              <div class="header__icons">
                <div class="mainicons"><a class="mainicons__link mainicons__link--user" href="#">К</a><a class="mainicons__link mainicons__link--minicart" href="#"></a>
                  <div class="mainicons__link mainicons__link--phone">
                    <div class="mainicons__call">
                      <div class="call">
                        <div class="call__item"><span class="call__label">Для звонков по России</span><a class="call__tel" href="tel:88001081144">8 800 108-11-44</a></div>
                        <div class="call__item"><span class="call__label">Для звонков по Москве</span><a class="call__tel" href="tel:88001081144">8 800 108-11-44</a></div>
                        <div class="call__bottom"><span class="call__label">Мы принимаем звонки</span><span class="call__time">с ПН по ПТ, с 10 до 18 по Мск</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header__mobile">
            <div class="header__mobile_menu">
              <div class="mobile_menu_inner">
                <div class="discount_products"><a class="discount" href="#">
                    <div class="discount_text">Товары со скидками</div></a></div>
                <div class="menu_categories">
                  <div class="categories_list">
                    <div class="categories_list_row"><a class="categories_list_link" href="#">
                        <div class="link_title">Кофе</div>
                        <div class="link_image"><img src="images/coffee_menu_mobile.png" alt=""></div></a></div>
                    <div class="categories_list_row"><a class="categories_list_link" href="#">
                        <div class="link_title">Чай</div>
                        <div class="link_image"><img src="images/tea_menu_mobile.png" alt=""></div></a></div>
                    <div class="categories_list_row"><a class="categories_list_link" href="#">
                        <div class="link_title">Аксессуары</div>
                        <div class="link_image"><img src="images/accessories_menu_mobile.png" alt=""></div></a></div>
                    <div class="categories_list_row"><a class="categories_list_link" href="#">
                        <div class="link_title">Стиль</div>
                        <div class="link_image"><img src="images/style_menu_mobile.png" alt=""></div></a></div>
                  </div>
                </div>
                <div class="mobile_menu_list">
                  <ul>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">Знания</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Программа лояльности</a></li>
                    <li><a href="#">Контакты</a></li>
                  </ul>
                </div>
                <div class="mobile_menu_contacts">
                  <div class="contacts_phone"><a href="tel:88007770414">8 800 777-04-14</a></div>
                  <div class="contacts_mail"><a href="mailto:info@rockets.coffee">info@rockets.coffee</a></div>
                  <div class="contacts_social">
                    <div class="footer__social"><a class="footer__social_link footer__social_link--fb" href="#"></a><a class="footer__social_link footer__social_link--ln" href="#"></a><a class="footer__social_link footer__social_link--tw" href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="news">
          <div class="container">
            <div class="news__title">
              <h1>Новости</h1>
            </div>
            <div class="news__header">
              <div class="news__sorting">
                <div class="sorting">
                  <div class="sorting__label">Сортировать:</div>
                  <div class="sorting__dropdown">
                    <button class="sorting__btn" type="button">Все</button>
                    <div class="sorting__menu">
                      <div class="sorting__list"><a class="sorting__item -active" id="all_category" href="#">Все</a><a class="sorting__item" id="beginners" href="#">Начинающим</a><a class="sorting__item" id="professionals" href="#">Профессионалам</a><a class="sorting__item" id="how_to_brow" href="#">How to brow</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news__count">всего: 120</div>
            </div>
            <div class="news__row row">
              <div class="news__item col-md-6 col-lg-4"><a class="news__img" href="#"><img src="images/articles/1.jpg" alt=""></a>
                <div class="news__info">
                  <div class="news__info_title">Заголовок новости</div>
                  <div class="news__info_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a></div>
                </div>
              </div>
              <div class="news__item col-md-6 col-lg-4"><a class="news__img" href="#"><img src="images/articles/1.jpg" alt=""></a>
                <div class="news__info">
                  <div class="news__info_title">Заголовок новости</div>
                  <div class="news__info_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a></div>
                </div>
              </div>
              <div class="news__item col-md-6 col-lg-4"><a class="news__img" href="#"><img src="images/articles/1.jpg" alt=""></a>
                <div class="news__info">
                  <div class="news__info_title">Заголовок новости</div>
                  <div class="news__info_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a></div>
                </div>
              </div>
              <div class="news__item col-md-6 col-lg-4"><a class="news__img" href="#"><img src="images/articles/1.jpg" alt=""></a>
                <div class="news__info">
                  <div class="news__info_title">Заголовок новости</div>
                  <div class="news__info_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a></div>
                </div>
              </div>
              <div class="news__item col-md-6 col-lg-4"><a class="news__img" href="#"><img src="images/articles/1.jpg" alt=""></a>
                <div class="news__info">
                  <div class="news__info_title">Заголовок новости</div>
                  <div class="news__info_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a></div>
                </div>
              </div>
              <div class="news__item col-md-6 col-lg-4"><a class="news__img" href="#"><img src="images/articles/1.jpg" alt=""></a>
                <div class="news__info">
                  <div class="news__info_title">Заголовок новости</div>
                  <div class="news__info_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page__footer">
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-xl-2 col-md-4 d-none d-md-block">
                <ul class="footer__list">
                  <li class="footer__item"><a class="footer__link footer__link--title" href="#">Продукция</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Кофе</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Чай</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Аксессуары</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Стиль</a></li>
                </ul>
              </div>
              <div class="col-xl-2 col-md-4 d-none d-md-block">
                <ul class="footer__list">
                  <li class="footer__item"><a class="footer__link footer__link--title" href="#">Знания</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Начинающим</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Профессионалам</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">How to brew</a></li>
                </ul>
              </div>
              <div class="col-xl-2 col-md-4 d-none d-md-block">
                <ul class="footer__list">
                  <li class="footer__item"><a class="footer__link footer__link--title" href="#">О  нас</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">О компании</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Команда</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">FAQ</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Новости</a></li>
                </ul>
              </div>
              <div class="col-xl-2 col-md-4 d-none d-md-block">
                <ul class="footer__list">
                  <li class="footer__item"><a class="footer__link footer__link--title" href="#">Сотрудничество</a></li>
                  <li class="footer__item"><a class="footer__link footer__link--title" href="#">Доставка и оплата</a></li>
                  <li class="footer__item"><a class="footer__link footer__link--title" href="#">Контакты</a></li>
                </ul>
              </div>
              <div class="col-xl-2 col-md-4 d-none d-md-block">
                <ul class="footer__list">
                  <li class="footer__item">
                    <div class="footer__address">109052 Москва, <span class="nowrap">ул.&nbsp;Нижегородская&nbsp;29-33</span></div>
                  </li>
                  <li class="footer__item"><a class="footer__mail" href="maitlo:info@rockets.coffee">info@rockets.coffee</a></li>
                  <li class="footer__item">
                    <div class="footer__social"><a class="footer__social_link footer__social_link--fb" href="#"></a><a class="footer__social_link footer__social_link--ln" href="#"></a><a class="footer__social_link footer__social_link--tw" href="#"></a></div>
                  </li>
                </ul>
              </div>
              <div class="col-xl-2 col-md-4 d-none d-md-block">
                <ul class="footer__list">
                  <li class="footer__item">
                    <div class="call">
                      <div class="call__item"><span class="call__label">Для звонков по России</span><a class="call__tel" href="tel:88001081144">8 800 108-11-44</a></div>
                      <div class="call__item"><span class="call__label">Для звонков по Москве</span><a class="call__tel" href="tel:88001081144">8 800 108-11-44</a></div>
                      <div class="call__bottom"><span class="call__label">Мы принимаем звонки</span><span class="call__time">с ПН по ПТ, с 10 до 18 по Мск</span></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="footer__bottom"><span>Rockets ® is a registered Trademark</span><span>Copyright © 2018 ROCKETS COFFEE ROASTERS</span><a href="#">Политика конфеденциальности</a>
              <div class="footer__payment"><img src="images/payment/mastercard.svg" width="40" alt=""><img src="images/payment/visa.svg" width="60" alt=""><img src="images/payment/paykeeper.svg" width="100" alt=""></div>
              <div class="d-md-none">
                <div class="footer__social"><a class="footer__social_link footer__social_link--fb" href="#"></a><a class="footer__social_link footer__social_link--ln" href="#"></a><a class="footer__social_link footer__social_link--tw" href="#"></a></div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
  <script src="scripts/jquery.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <script src="scripts/jquery.magnific-popup.js"></script>
  <script src="scripts/slick.js"></script>
  <script src="scripts/smooth-scrollbar.js"></script>
  <script src="scripts/malihu-custom-scrollbar.js"></script>
  <script src="scripts/jquery.validate.js"></script>
  <script src="scripts/jquery.maskedinput.js"></script>
  <script src="scripts/main.js"></script>
  <!-- endbuild-->
  <script src="scripts/scrolled.js"></script>
</html>

app/templates/news.pug
extends layouts/default

block variables
  - var body_class = 'page-news'

block content
  include common/_header
  .news
    .container
      .news__title
        h1 Новости
      .news__header
        .news__sorting
          .sorting
            .sorting__label Сортировать:
            .sorting__dropdown
              button.sorting__btn(type="button") Все
              .sorting__menu
                .sorting__list
                  a.sorting__item.-active#all_category(href="#") Все
                  a.sorting__item#beginners(href="#") Начинающим
                  a.sorting__item#professionals(href="#") Профессионалам
                  a.sorting__item#how_to_brow(href="#") How to brow
        .news__count всего: 120
      .news__row.row
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
