app/templates/sign-in.pug
extends layouts/default2

block variables
  - var body_class = 'page-sign-in'

block content
  .sign-in
    .container
      .row
        .col-lg-6
          .sign-in__container
            .sign-in__header
              a.sign-in__logo(href="#")
                img(src="images/logo-img.svg" alt="")
                img(src="images/logo.svg" alt="")
            .sign-in__content.-active.-fade
              .sign-in__heading
                h3 Каждое утро c Rockets coffee
                p Войдите или <a href="#" class="goto_sign-up">зарегистрируйте</a> новый аккаун
              form.sign-in__form
                .sign-in__field
                  label.sign-in__label Email:
                  input.sign-in__input(type="email" name="email" required value="")
                .sign-in__field
                  label.sign-in__label Пароль:
                  a.sign-in__forget(href="") Забыли пароль?
                  input.sign-in__input(type="password" name="password" required value="")
                  a.show-password(href="#")
                button.sign-in__btn(type="submit") ВОЙТИ
                .sign-in__social
                  .sign-in__social_remark или продолжите через соц. сети
                  .sign-in__social_btns
                    a.sign-in__social_link.-vk(href="#")
                    a.sign-in__social_link.-fb(href="#")
                .sign-in__sign-up У вас нет аккаунт? <a href="#" class="goto_sign-up">Зарегистрировать</a>
            .sign-up
              .sign-up__heading
                h3 Регистрация нового аккаунта
              .sign-up__form
                .sign-up__person
                  a.sign-up__person_check.-physical.-checked(href="#") Частное лицо
                  a.sign-up__person_check.-legal(href="#") Юридическое лицо / ИП
                form.sign-up__physical.-active.-fade
                  .sign-up__field
                    label.sign-up__label Имя:
                    input.sign-up__input(type="text" name="name" required value="")
                  .sign-up__field
                    label.sign-up__label Email:
                    input.sign-up__input(type="email" name="email" required value="" placeholder="Rockets@coffee.ru")
                  .sign-up__field
                    label.sign-up__label Пароль:
                    input.sign-up__input(type="text" name="password" required value="" placeholder="Более 6 символов")
                    a.show-password(href="#")
                  button.sign-up__btn(type="submit") Зарегистрироваться
                form.sign-up__legal.-step-1
                  .sign-up__step.-active.-fade
                    .sign-up__step_title
                      h4 Личные данные
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label Имя:
                        input.sign-up__input(type="text" name="first_name" required value="")
                      .sign-up__field.-half
                        label.sign-up__label Фамилия:
                        input.sign-up__input(type="text" name="last_name" required value="")
                    .sign-up__row
                      .sign-up__field
                        label.sign-up__label Тип организации:
                        .sign-up__select
                          select
                            option(value="hide") Выберите тип
                            option(value="Юридическое лицо") Юридическое лицо
                            option(value="Индивидуальный предприниматель") Индивидуальный предприниматель
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label Email:
                        input.sign-up__input(type="email" name="email" value="" placeholder="Rockets@coffee.ru")
                      .sign-up__field.-half
                        label.sign-up__label Пароль:
                        input.sign-up__input.-password(type="password" name="password" required value="" placeholder="Более 6 символов")
                        a.show-password(href="#")
                  .sign-up__step
                    .sign-up__step_title
                      h4 Юридические реквизиты
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label Полное наименование:
                        input.sign-up__input(type="text" name="legal_name" required value="")
                      .sign-up__field.-half
                        label.sign-up__label Адрес регистрации:
                        input.sign-up__input(type="text" name="legal_address_registration" required value="")
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label ИНН:
                        input.sign-up__input(type="text" name="legal_inn" required value="")
                      .sign-up__field.-half
                        label.sign-up__label ОКПО:
                        input.sign-up__input(type="text" name="legal_okpo" required value="")
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label КПП:
                        input.sign-up__input(type="text" name="legal_kpp" required value="")
                      .sign-up__field.-half
                        label.sign-up__label ОГРНИП::
                        input.sign-up__input(type="text" name="legal_ogrnip" required value="")
                  .sign-up__step
                    .sign-up__step_title
                      h4 Банковские реквизиты
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label БИК:
                        input.sign-up__input(type="text" name="bank_bik" required value="")
                      .sign-up__field.-half
                        label.sign-up__label Корр. счет:
                        input.sign-up__input(type="text" name="bank_korr" required value="")
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label Рассчетный счет:
                        input.sign-up__input(type="text" name="bank_rass" required value="")
                      .sign-up__field.-half
                        label.sign-up__label Название банка:
                        input.sign-up__input(type="text" name="bank_name" required value="")
                    .sign-up__row
                      .sign-up__field
                        label.sign-up__label Адрес банка:
                        input.sign-up__input(type="text" name="bank_address" required value="")
                  .sign-up__legal_btns
                    button.sign-up__legal_back(type="button") Назад
                    button.sign-up__legal_next(type="button") Далее
                    button.sign-up__legal_submit(type="submit") Зарегистрироваться
                .sign-up__sign-in У вас есть аккаунт? <a href="#" class="goto_sign-in">Войти</a>
            .sign-in__footer Регистрируясь на сайте Rockets coffee вы принимаете <a href="#">пользовательское соглашение</a> и&nbsp;принимаете <a href="#">политику конфедициальности</a>.
  .password-modal.mfp-hide#password-modal
    .password-modal__title Восстановление пароля
    .password-modal__desc вам придет письмо с дальнейшими действиями
    form.password-modal__form
      label.password-modal__label Email
      input.password-modal__input(type="email" name="email" required)
      button.password-modal__btn(type="submit") отправить

dist/sign-in.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Кофе</title>
    <link rel="stylesheet" href="styles/magnific-popup.css">
    <link rel="stylesheet" href="styles/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" href="styles/owl.carousel.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/modernizr.js"></script>
  </head>
  <body class="page-sign-in"><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="page" id="pageScrollBar">
      <div class="page__content">
        <div class="sign-in">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="sign-in__container">
                  <div class="sign-in__header"><a class="sign-in__logo" href="#"><img src="images/logo-img.svg" alt=""><img src="images/logo.svg" alt=""></a></div>
                  <div class="sign-in__content -active -fade">
                    <div class="sign-in__heading">
                      <h3>Каждое утро c Rockets coffee</h3>
                      <p>Войдите или <a href="#" class="goto_sign-up">зарегистрируйте</a> новый аккаун</p>
                    </div>
                    <form class="sign-in__form">
                      <div class="sign-in__field">
                        <label class="sign-in__label">Email:</label>
                        <input class="sign-in__input" type="email" name="email" required value="">
                      </div>
                      <div class="sign-in__field">
                        <label class="sign-in__label">Пароль:</label><a class="sign-in__forget" href="">Забыли пароль?</a>
                        <input class="sign-in__input" type="password" name="password" required value=""><a class="show-password" href="#"></a>
                      </div>
                      <button class="sign-in__btn" type="submit">ВОЙТИ</button>
                      <div class="sign-in__social">
                        <div class="sign-in__social_remark">или продолжите через соц. сети</div>
                        <div class="sign-in__social_btns"><a class="sign-in__social_link -vk" href="#"></a><a class="sign-in__social_link -fb" href="#"></a></div>
                      </div>
                      <div class="sign-in__sign-up">У вас нет аккаунт? <a href="#" class="goto_sign-up">Зарегистрировать</a></div>
                    </form>
                  </div>
                  <div class="sign-up">
                    <div class="sign-up__heading">
                      <h3>Регистрация нового аккаунта</h3>
                    </div>
                    <div class="sign-up__form">
                      <div class="sign-up__person"><a class="sign-up__person_check -physical -checked" href="#">Частное лицо</a><a class="sign-up__person_check -legal" href="#">Юридическое лицо / ИП</a></div>
                      <form class="sign-up__physical -active -fade">
                        <div class="sign-up__field">
                          <label class="sign-up__label">Имя:</label>
                          <input class="sign-up__input" type="text" name="name" required value="">
                        </div>
                        <div class="sign-up__field">
                          <label class="sign-up__label">Email:</label>
                          <input class="sign-up__input" type="email" name="email" required value="" placeholder="Rockets@coffee.ru">
                        </div>
                        <div class="sign-up__field">
                          <label class="sign-up__label">Пароль:</label>
                          <input class="sign-up__input" type="text" name="password" required value="" placeholder="Более 6 символов"><a class="show-password" href="#"></a>
                        </div>
                        <button class="sign-up__btn" type="submit">Зарегистрироваться</button>
                      </form>
                      <form class="sign-up__legal -step-1">
                        <div class="sign-up__step -active -fade">
                          <div class="sign-up__step_title">
                            <h4>Личные данные</h4>
                          </div>
                          <div class="sign-up__row">
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">Имя:</label>
                              <input class="sign-up__input" type="text" name="first_name" required value="">
                            </div>
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">Фамилия:</label>
                              <input class="sign-up__input" type="text" name="last_name" required value="">
                            </div>
                          </div>
                          <div class="sign-up__row">
                            <div class="sign-up__field">
                              <label class="sign-up__label">Тип организации:</label>
                              <div class="sign-up__select">
                                <select>
                                  <option value="hide">Выберите тип</option>
                                  <option value="Юридическое лицо">Юридическое лицо</option>
                                  <option value="Индивидуальный предприниматель">Индивидуальный предприниматель</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="sign-up__row">
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">Email:</label>
                              <input class="sign-up__input" type="email" name="email" value="" placeholder="Rockets@coffee.ru">
                            </div>
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">Пароль:</label>
                              <input class="sign-up__input -password" type="password" name="password" required value="" placeholder="Более 6 символов"><a class="show-password" href="#"></a>
                            </div>
                          </div>
                        </div>
                        <div class="sign-up__step">
                          <div class="sign-up__step_title">
                            <h4>Юридические реквизиты</h4>
                          </div>
                          <div class="sign-up__row">
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">Полное наименование:</label>
                              <input class="sign-up__input" type="text" name="legal_name" required value="">
                            </div>
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">Адрес регистрации:</label>
                              <input class="sign-up__input" type="text" name="legal_address_registration" required value="">
                            </div>
                          </div>
                          <div class="sign-up__row">
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">ИНН:</label>
                              <input class="sign-up__input" type="text" name="legal_inn" required value="">
                            </div>
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">ОКПО:</label>
                              <input class="sign-up__input" type="text" name="legal_okpo" required value="">
                            </div>
                          </div>
                          <div class="sign-up__row">
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">КПП:</label>
                              <input class="sign-up__input" type="text" name="legal_kpp" required value="">
                            </div>
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">ОГРНИП::</label>
                              <input class="sign-up__input" type="text" name="legal_ogrnip" required value="">
                            </div>
                          </div>
                        </div>
                        <div class="sign-up__step">
                          <div class="sign-up__step_title">
                            <h4>Банковские реквизиты</h4>
                          </div>
                          <div class="sign-up__row">
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">БИК:</label>
                              <input class="sign-up__input" type="text" name="bank_bik" required value="">
                            </div>
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">Корр. счет:</label>
                              <input class="sign-up__input" type="text" name="bank_korr" required value="">
                            </div>
                          </div>
                          <div class="sign-up__row">
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">Рассчетный счет:</label>
                              <input class="sign-up__input" type="text" name="bank_rass" required value="">
                            </div>
                            <div class="sign-up__field -half">
                              <label class="sign-up__label">Название банка:</label>
                              <input class="sign-up__input" type="text" name="bank_name" required value="">
                            </div>
                          </div>
                          <div class="sign-up__row">
                            <div class="sign-up__field">
                              <label class="sign-up__label">Адрес банка:</label>
                              <input class="sign-up__input" type="text" name="bank_address" required value="">
                            </div>
                          </div>
                        </div>
                        <div class="sign-up__legal_btns">
                          <button class="sign-up__legal_back" type="button">Назад</button>
                          <button class="sign-up__legal_next" type="button">Далее</button>
                          <button class="sign-up__legal_submit" type="submit">Зарегистрироваться</button>
                        </div>
                      </form>
                      <div class="sign-up__sign-in">У вас есть аккаунт? <a href="#" class="goto_sign-in">Войти</a></div>
                    </div>
                  </div>
                  <div class="sign-in__footer">Регистрируясь на сайте Rockets coffee вы принимаете <a href="#">пользовательское соглашение</a> и&nbsp;принимаете <a href="#">политику конфедициальности</a>.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="password-modal mfp-hide" id="password-modal">
          <div class="password-modal__title">Восстановление пароля</div>
          <div class="password-modal__desc">вам придет письмо с дальнейшими действиями</div>
          <form class="password-modal__form">
            <label class="password-modal__label">Email</label>
            <input class="password-modal__input" type="email" name="email" required>
            <button class="password-modal__btn" type="submit">отправить</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="scripts/jquery.js"></script>
  <script src="scripts/tether.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/jquery.magnific-popup.js"></script>
  <script src="scripts/slick.js"></script>
  <script src="scripts/owl.carousel.js"></script>
  <script src="scripts/smooth-scrollbar.js"></script>
  <script src="scripts/malihu-custom-scrollbar.js"></script>
  <script src="scripts/jquery.validate.js"></script>
  <script src="scripts/jquery.maskedinput.js"></script>
  <script src="scripts/main.js"></script>
</html>
